body{
    background: #f5f5f5;
}
.jd_layout {
    /*最大宽的限制：因为设计稿psd的尺寸是640px  防止内容图片被放大 */
    /*现在设计稿尺寸：640px  750px  */
    max-width: 640px;
    /*最小宽的限制：因为最小的手机屏幕320px*/
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}

/*搜索*/
.jd_search {
    /*基于浏览器窗口定位  */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.jd_search_box {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    height: 40px;
    background: rgba(201, 21, 35, 0.85);
    position: relative;
}

.jd_search_box .icon_logo {
    position: absolute;
    left: 5px;
    top: 4px;
    width: 60px;
    height: 36px;
    background-position: 0 -103px;
}

.jd_search_box form {
    width: 100%;
    padding-left: 65px;
    padding-right: 50px;
}

.jd_search_box form .icon_search {
    position: absolute;
    left: 70px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-position: -60px -109px;
}

.jd_search_box form input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
}

.jd_search_box .login {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

/*轮播图*/
.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd_banner ul:first-child {
    width: 1000%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
}

.jd_banner ul:first-child li {
    width: 10%;
    float: left;
}

.jd_banner ul:first-child li a {
    display: block;
    width: 100%;
}

.jd_banner ul:first-child li a img {
    width: 100%;
    display: block;
}

.jd_banner ul:last-child {
    position: absolute;
    left: 50%;
    bottom: 6px;
    width: 118px;
    margin-left:-59px;
}

.jd_banner ul:last-child li {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    float: left;
    margin-left:10px;
}
.jd_banner ul:last-child li:first-child{
    margin-left:0;
}

.jd_banner ul:last-child li.now {
    background: #fff;
}

/*导航栏*/
.jd_nav{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.jd_nav ul{
    width: 100%;
    padding: 10px 0;
}
.jd_nav ul li{
    width: 25%;
    float: left;
}
.jd_nav ul li a{
    display: block;
    width: 100%;
}
.jd_nav ul li a img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.jd_nav ul li a p{
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: 5px 0;
}

/*商品区域*/
.jd_product{
    padding: 0 5px;
}
.jd_product .jd_proBox{
    margin-top:10px;
    box-shadow: 0 0 1px #ddd;
    /*min-height: 200px;*/
    background: #fff;
}
.jd_product .jd_proBox .tit{
    border-bottom: 1px solid #ddd;
    height: 34px;
    line-height: 34px;
}
.jd_product .jd_proBox .tit.nb{
    border-bottom: none;
}
.jd_product .jd_proBox .tit h3{
    font-weight: normal;
    color: #666;
    position: relative;
    padding-left:23px;
}
.jd_product .jd_proBox .tit h3::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 11px;
    width: 3px;
    height: 12px;
    background: #d8505c;
}
.jd_product .jd_proBox .con{}

/*秒杀区域*/
.sk_icon{
    width: 16px;
    height: 20px;
    margin-left:10px;
    margin-top:7px;
    float: left;
    background: url("../images/seckill-icon.png") no-repeat center / 16px 20px;
}
.sk_name{
    color: #d8505c;
    margin-left:10px;
    float: left;
}
.sk_time{
    float: left;
    margin-left:10px;
}
.sk_time span{
    width: 16px;
    height: 16px;
    margin-top:8px;
    float: left;
    background: #333;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    margin-left: 3px;
}
.sk_time span:nth-child(3n){
    background: #fff;
    color: #333;
    width: 3px;
}
.sk_product{
    width: 100%;
    padding: 10px 0;
}
.sk_product li{
    width: 33.3333%;
    float: left;
}
.sk_product li a{
    display: block;
    width: 100%;
    border-right: 1px solid #ddd;
}
.sk_product li:last-child a{
    border-right:none;
}
.sk_product li a img{
    display: block;
    width: 64%;
    margin: 0 auto;
}
.sk_product li p{
    font-size: 12px;
    padding: 5px 0;
    text-align: center;
}
.sk_product li .nowPrice{
    color: #d8505c;
}
.sk_product li .oldPrice{
    color: #666;
    text-decoration: line-through;
}

/*商品区域*/
/*分析结果：*/
/* 左浮动 右浮动 */
/* 宽度50%  img 100% 块级 */
.w50{
    width: 50%;
    display: block;
}
.w50 img{
    width: 100%;
    display: block;
}
/* 右边框  左边框 下边框 */
.br{
    border-right: 1px solid #ddd;
}
.bl{
    border-left: 1px solid #ddd;
}
.bb{
    border-bottom: 1px solid #ddd;
}